#whats_happening_wrap {
    #whats_happening_list {
        .wh_show_more {
            padding:20px;
            cursor: pointer;
            a {
                color: #1ad1c2;
                text-decoration: none;
            }
            &:hover {
                background: #eff1f1;
                cursor: pointer;
            }
        }
    }
}
