#top_location_bar_sticky {
    position:sticky;
    width:100%;
    z-index: 1000;
    background-color: Reba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    left:0;
    height:50px;
    top:0;
    #top_location_bar_main {
        display: flex;
        justify-content: left;
        align-items: center;
        padding:0px 15px;
        height:50px;
        .top_location_text {
            font-size:19px;
            
            font-weight: bold;
        }
        .top_location_back_button {
            display:flex;
                justify-content: center;
                align-items: center;
                padding-right:20px;
            ._back_button_icon {
                width:20px;
                height:20px;
                cursor: pointer;
                padding:8px;
                border-radius: 100px;
                position: relative;
               
                &:hover {
                    background:rgba(231,231,232,255);
                }
            }
        }
    }
}