$tabletWidth: 840px;
$phoneWidth: 500px;

.tweet {
    display: flex;
    padding: 20px;
    border-bottom:1px solid rgb(239, 243, 244);

    &:hover {
        cursor: pointer;
        background-color: #fafafa;
    }

    .tweet_left {
        width: 50px;
        padding-right: 10px;
        .tweet_userimg {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background-color: #efefef;
        }
    }
    .tweet_right {

        .tweet_desc {
            margin-bottom: 2px;
            display: flex;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 1;
            width: 100%;
            @media (max-width: $phoneWidth) {
                font-size:15px;
            }
            .tweet_desc_left {
                .tweet_name {
                    vertical-align: middle;
                    display: inline-block;
                    a {
                        color: #000;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }
                .tweet_verified {
                    vertical-align: middle;
                    display: inline-block;
                    width: 20px;
                    margin: 0 5px;
                    height: 20px;
                }
                .tweet_username {
                    vertical-align: middle;
                    display: inline-block;
                    a {
                        color: rgb(83, 100, 113);
                        text-decoration: none;
                    }
                }
                .tweet_elapsedtime {
                    vertical-align: middle;
                    display: inline-block;
                    .singlepoint {
                        scale: (5);
                    }
                }
            }
            .tweet_desc_right {
                flex: 1;
                text-align: right;
                align-self: flex-end;
                .tweet_desc_elipses_wrap {
                    width:100%;
                    
                }
                .tweet_desc_elipses {
                    width: 20px;
                    display: inline-block;
                    height: 20px;
                }
            }
        }

        .tweet_body {
            font-size:17px;
            line-height:20px;
            .tweet_image_large {
                margin-top:10px;
                max-height:400px;
                background:#efefef;
                overflow: hidden;
                border-radius: 20px;
                border:1px solid #cfd9de;
                img {
                    max-width:100%;
                
                }
            }
           

        }

        .tweet_metrics {
            display:flex;
            margin-top:10px;
            justify-content: space-between;
            max-width:425px;
            cursor: pointer;
            color:#536471;
            @media (max-width: $phoneWidth)
            {
                font-size:14px;
            }
            .metric_icon {
                display:inline-block;
                vertical-align: middle;
                margin-right:10px;
                padding:8px;
                cursor: pointer;
                line-height:5px;
                border-radius: 100px;
                width:20px;
                @media(max-width: $phoneWidth)
                {
                    margin-right:1px;
                }
            }
            .metric_comments:hover {
                .metric_icon {
                    background: #e1eef6;
                }
                path {
                    fill: rgb(29, 155, 240);
                }
            }
            .metric_retweets:hover {
                .metric_icon {
                    background:#def1eb;
                }
                path {
                    fill:rgba(0,186,124,255);
                }
            }
            .metric_hearts:hover {
                .metric_icon {
                    background:#f7e0eb;
                }
                path {
                    fill:rgba(249,24,128,255);
                }
            }
            .metric_share:hover {
                .metric_icon {
                    background: #e1eef6;
                }
                path {
                    fill: rgb(29, 155, 240);
                }
            }
        }
    }
}
