#who_to_follow_wrap {
        .wtf_show_more {
            padding:20px;
            cursor: pointer;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            a {
                color: rgb(29, 155, 240);
                text-decoration: none;
            }
            &:hover {
                background: #eff1f1;
                cursor: pointer;
            }
        }
}