#who_to_follow_wrap {
        .wtf_show_more {
            padding:20px;
            cursor: pointer;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            a {
                color: #1ad1c2;
                text-decoration: none;
            }
            &:hover {
                background: #eff1f1;
                cursor: pointer;
            }
           
           
        }
        .slowfade {
            animation-name: slowfade;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
         }
}
@keyframes slowfade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}