/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

$tabletWidth: 840px;
$phoneWidth: 500px;

* {
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  position: relative;
}

a {
  color:#1ad1c2;
  &:hover {
    text-decoration: underline;
  }
}


/*
    Big blue (not <button> button)
*/
.blue-button {
    // background:#1ad1c2;
    background:#1ad1c2;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      background: #8de8e0;
    }
}

