/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

$tabletWidth: 840px;
$phoneWidth: 500px;

* {
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  position: relative;
}

#master_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 200vh;
  @media (max-width: $phoneWidth) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom:60px;
  }

  #sidebar_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: sticky;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    @media (max-width: $phoneWidth) {
      position: absolute;
    }
  }

  #sidebar_hidden {
    width:275px;
    @media (max-width: $phoneWidth) {
      display:none;
    }
  }
  #sidebar {
    vertical-align: top;
    width: 275px;
    position: fixed;
    height:100%;
    background:#fff;
    border-right: 1px solid rgb(239, 243, 244);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    @media (max-width: $phoneWidth) {
      width:100% !important;
      border-top:1px solid rgb(239, 243, 244);
      left:0;
      height:60px;
      bottom:0;
    }
  }

  #main_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    @media (max-width: $phoneWidth) {
      display:block;
    }
  }
  #main_left {
    width: 600px;
    border-right: 1px solid rgb(239, 243, 244);
    @media (max-width: $phoneWidth) {
      width: 100%;
    }
  }
  #main_right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 20px;
    width: 375px;
    @media (max-width: $phoneWidth) {
      display:none;
    }
  }
}


/*
    Big blue (not <button> button)
*/
.blue-button {
    background:rgb(29, 155, 240);
    color:#fff;
    text-decoration: none;
    font-weight: bold;
}

