.profile_banner_container {
    .profile_banner_image_wrap {
        background:#1ad1c2;
        height:200px;
    }
    .profile_banner_details_wrap {
        display:flex;
        .profile_image_wrap {
            margin-top:-70px;
            .profile_image {
                margin-left:20px;
                width:140px;
                height:140px;
                border-radius:100%;
                border:4px solid white;
                background-color: white;
                background-size:cover;
            }
        }
        .profile_details_wrap {
            display:flex;
            margin-top:10px;
            flex:1;
            justify-content: right;
            align-items: top;
            padding-right:20px;

            .follow_button {
                background:black;
                font-weight: bold;
                color:#fff;
                padding:10px 20px;
                font-size:14px;
                border-radius: 20px;
                border:1px solid black;
                &:hover {
                    background:#1ad1c2;
                    cursor: pointer;
                    color:#fff;
                    border-color:#1ad1c2;
                }
            }
            .already_following {
                background:#fff;
                color:#000;
                border-color: rgb(207, 217, 222);

            }
        }
    }

    .profile_user_details_wrap {
        display:flex;
        padding:20px;
        flex-direction: column;
        ._displayname {
            font-weight: bold;
            font-size:20px;
            display: flex;
            align-items: center;
            div {

            }
            ._verified {
                padding-left:5px;
                position: relative;
                top:2px;
                width:25px;
            }
        }
        ._username {
            color:rgb(83, 100, 113);
            margin-top:-1px;
            font-size:15px;
        }
        ._bio {
            padding-top:15px;
        }
        ._notes {
            display: flex;
            padding-top:10px;
            flex-direction: column;
            ._note_indi {
                display:flex;
                align-items: center;
                color:rgb(83, 100, 113);
                ._icon {
                    position: relative;
                    top:2px;
                    width:20px;
                    margin-right: 5px;
                    ._calendar {
                        fill: rgb(83, 100, 113);
                    }
                }
            }
        }

        ._followstats {
            margin-top:10px;
            display:flex;
            font-size:15px;
            color:rgb(83, 100, 113);
            a {
                color:rgb(15, 20, 25);
                text-decoration: none;
                b {

                }
                &:hover {
                    text-decoration: underline;
                }
            }
            ._following {
                
            }
            ._followers {
                padding-left:20px;
            }
        }
    }
}